@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;





html {
  transition: background-color 0.3s, color 0.3s;
  scroll-behavior: smooth;
}

*{
  font-family: "Outfit", sans-serif;
}