@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}
